<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>📞 Contactez nous</h4>
            <p>Téléphone : +235 66 44 54 96</p>
            <label for="">Email :</label><a href="mailto:acain@gmail.com" title="Contactez nous"><i class="fas fa-envelope"></i>acain@gmail.com</a><br>
            
           <label for="">WhatSapp : </label> <a href="https://wa.me/+23566445496" target="_blank" title="WhatSapp">
                <i class="fab fa-whatsapp"></i> WhatSapp
            </a>
        </div>

        <div class="footer-section">
            <h4>📍 Adresse</h4>
            <p>Quartier : Walia hadjarai</p>
            <p>N'Djamena - Tchad</p>
            <table class="flag-table">
                <tr class="table-line">
                    <td class="bleu"></td>
                    <td class="jaune"></td>
                    <td class="rouge"></td>
                </tr>

            </table>
        </div>

        <div class="footer-section">
            <h4>ℹ️ À propos</h4>
            <p>Plateforme immobilière pour terrains, maisons et locations.</p>
        </div>
    </div>

    <div class="footer-bottom">
        © {{ year|default:2026 }} Acain — Tous droits réservés
    </div>
</footer>

